/* Light mode overrides */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #1E2527; /* custom brown */
  --md-accent-fg-color: #FB8C00;  /* custom orange */
}

/* Dark mode overrides */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #1E2527;
  --md-accent-fg-color: #FFB300;
}

.md-typeset a {
  color: var(--md-accent-fg-color);
}

.md-typeset a:focus, .md-typeset a:hover {
  text-decoration: underline;
}
